body {
  background-color: #303030;
  margin: 0px;
}

.jfgamesimagestart {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

.title {
  text-align: center;
  color: white;
  font-family: Sans-Serif;
  font-size: 45px;
}

.games {
  margin-top: 20px;
  text-align: center;
  color: #a8a8a5;
  font-family: Sans-Serif;
  background-color: #212121; /* Darker shade of the background */
  padding: 10px;
}

.games-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.game-img-container {
  position: relative;
}

.game-img {
  width: 150px;
  height: 150px;
  border-radius: 15px;
  box-shadow: 10px 10px 5px black;
}

.game-name-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 3px 0;
  border-radius: 25px;
  font-family: Arial, sans-serif;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.search-bar {
  width: 80%;
  max-width: 600px;
  padding: 15px;
  background-color: #2b2b2b;
  border: 2px solid #2b2b2b;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  box-shadow: 1px 1px 3px black;
}

.search-bar:focus {
  outline: none;
  border-color: ;
  box-shadow: 3px 3px 5px black;
}

.requestgamebutton button {
  background-color: #171717;
  border-radius: 15px;
  padding: 15px;
  border: none;
  display: flex;
  margin: auto;
  margin-top: 25px;
}

.requestgamebutton button:hover {
  
}

.requestgamebutton button a{
text-decoration: none;
  color: white;
  font-family: Sans-Serif;
  font-weight: bold;
  font-size: 20px;
}

h3{
  color: white;
  font-family: Sans-Serif;
  text-align: center;
}

.annoucements{
  width: 400px;
  height: 100px;
  background-color: black;
  background-color: #292929;
  border-color: 2px solid #1c1c1c;
  border-style: dashed;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  box-shadow: 3px 3px 5px black;
}

.annoucements h3{
  color:white;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #000000; 
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #424242; 
}

.pdrift button{
  background-color: #171717;
  border-radius: 5px;
  padding: 10px;
  border: none;
  margin-top: 25px;
}

.pdrift button a {
  color: white;
  font-family: Sans-Serif;
  font-size: 20px;
}

.credit {
  background-color: black;
  color:white;
  text-align: center;
  font-family: Sans-Serif;
  padding: 5px;
}
